@model IEnumerable<IdealBizUI.ViewModels.View_Items>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Items</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseUnitOfMeasure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuchaseUnitOfMeasure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesUnitOfMeasure)
            </th>




            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseUnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuchaseUnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesUnitOfMeasure)
            </td>




            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
